<div class="comment-top">
    <h4>Leave a Comment</h4>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="comment-bottom">
            <form method="post">
                <textarea class="form-control" id="commentinfo" placeholder="Write Comment..." required></textarea>
                <button type="button" class="btn btn-primary submit" onclick="postComment()">Submit</button>
            </form>
        </div> 
    }
    else
    {
        <a href="/Login/Index" class="btn btn-success">Login for Comment</a>
    }
</div>