@model List<About>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">About</h3>
        <div class="row inner-sec">
            <!--left-->
            <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                <div class="blog-grid-top">
                    @foreach (About item in Model)
                    {
                        <div class="blog_info_left_grid">
                            <a href="#">
                                <img src="~/Template/images/b5.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                        <h3>
                            Who we are?
                        </h3>
                        <p>
                            @item.AboutDetails1
                        </p>
                        <p style="font-style:italic">
                            @item.AboutDetails2
                        </p>
                        }
                    </div>
                </div>
            <!--//left-->
            <!--right-->
            <partial name="RightSidePartial" />
            <!--//right-->
        </div>
    </div>
</section>

