
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!--/banner-->
<div class="banner">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="carousel-caption">
                    <h3>
                        Create the lifestyle
                        <span>you desire</span>
                    </h3>
                    <div class="read">
                        <a href="~/Template/single.html" class="btn btn-primary read-m">Read More</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item item2">
                <div class="carousel-caption">
                    <h3>
                        Engaging Purposeful
                        <span>and Creative</span>
                    </h3>
                    <div class="read">
                        <a href="~/Template/single.html" class="btn btn-primary read-m">Read More</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item item3">
                <div class="carousel-caption">
                    <h3>
                        Create the lifestyle
                        <span>you desire</span>
                    </h3>
                    <div class="read">
                        <a href="~/Template/single.html" class="btn btn-primary read-m">Read More</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item item4">
                <div class="carousel-caption">
                    <h3>
                        Engaging Purposeful
                        <span>and Creative</span>
                    </h3>
                    <div class="read">
                        <a href="~/Template/single.html" class="btn btn-primary read-m">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<!--/model-->
<br />
<!--//banner-->
<!--/main-->
<section class="main-content-w3layouts-agileits">
    <div class="container">
        <div class="row">
            <!--left-->
            <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                <div class="blog-grid-top">
                    <div class="b-grid-top">
                        <div class="blog_info_left_grid">
                            <a href="single.html">
                                <img src="~/Template/images/b1.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="blog-info-middle">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="far fa-calendar-alt"></i> FEB 15,2018
                                    </a>
                                </li>
                                <li class="mx-2">
                                    <a href="#">
                                        <i class="far fa-thumbs-up"></i> 201 Likes
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="far fa-comment"></i> 15 Comments
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <h3>
                        <a href="~/Template/single.html">Amet consectetur adipisicing </a>
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt ut labore et dolore magna
                        aliqua uta enim ad minim ven iam quis nostrud exercitation ullamco labor nisi ut aliquip exea commodo consequat duis
                        aute irudre dolor in elit sed uta labore dolore reprehender
                    </p>
                    <a href="single.html" class="btn btn-primary read-m">Read More</a>
                </div>

                <div class="blog-girds-sec">
                    <div class="row">
                        <div class="col-md-6 blog-grid-top">
                            <div class="b-grid-top">
                                <div class="blog_info_left_grid">
                                    <a href="single.html">
                                        <img src="images/b2.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                                <h3>
                                    <a href="single.html">Amet consectetur </a>
                                </h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt aliqua uta enim.</p>
                            </div>
                            <ul class="blog-icons">
                                <li>
                                    <a href="#">
                                        <i class="far fa-clock"></i> 5 Monts
                                    </a>
                                </li>
                                <li class="mx-2">
                                    <a href="#">
                                        <i class="far fa-comment"></i> 21
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-eye"></i> 2000
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="col-md-6 blog-grid-top">
                            <div class="b-grid-top">
                                <div class="blog_info_left_grid">
                                    <a href="single.html">
                                        <img src="images/b3.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                                <h3>
                                    <a href="single.html">Amet adipisicing </a>
                                </h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt aliqua uta enim.</p>

                            </div>
                            <ul class="blog-icons">
                                <li>
                                    <a href="#">
                                        <i class="far fa-clock"></i> 5 Monts
                                    </a>
                                </li>
                                <li class="mx-2">
                                    <a href="#">
                                        <i class="far fa-comment"></i> 21
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-eye"></i> 2000
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--//left-->
            <!--right-->
            <partial name="RightSidePartialForHome" />
            <!--//right-->
        </div>
    </div>
</section>
<!--//main-->
<!--/middle-->
<section class="middle-sec-agileinfo-w3ls">
    <div class="container">
        <div class="row inner-sec">
            <div class="col-md-4 news-left">
                <ul id="demo1_thumbs" class="list-inline">
                    <li>
                        <a href="~/Template/images/m1.jpg">
                            <img src="~/Template/images/m1.jpg" alt="" data-desoslide-caption="<h3>Latest Post 1</h3>">
                            <div class="mid-text-info">
                                <h4>Maecenas aliqua</h4>
                                <p>Integer </p>
                                <div class="sub-meta">
                                    <span>
                                        <i class="far fa-clock"></i> 20 Feb, 2018
                                    </span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="~/Template/images/m2.jpg">
                            <img src="~/Template/images/m2.jpg" alt="" data-desoslide-caption="<h3>Latest Post 2</h3>">
                            <div class="mid-text-info">
                                <h4>Maecenas aliqua</h4>
                                <p>Integer </p>
                                <div class="sub-meta">
                                    <span>
                                        <i class="far fa-clock"></i> 20 Feb, 2018
                                    </span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="~/Template/images/m3.jpg">
                            <img src="~/Template/images/m3.jpg" alt="" data-desoslide-caption="<h3>Latest Post 3</h3>">
                            <div class="mid-text-info">
                                <h4>Maecenas aliqua</h4>
                                <p>Integer </p>
                                <div class="sub-meta">
                                    <span>
                                        <i class="far fa-clock"></i> 20 Feb, 2018
                                    </span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="images/m4.jpg">
                            <img src="images/m4.jpg" alt="" data-desoslide-caption="<h3>Latest Post 4</h3>">
                            <div class="mid-text-info">
                                <h4>Maecenas aliqua</h4>
                                <p>Integer </p>
                                <div class="sub-meta">
                                    <span>
                                        <i class="far fa-clock"></i> 20 Feb, 2018
                                    </span>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div id="demo1_main_image" class="col-md-8  news-right"></div>
            <div class="clearfix"> </div>
        </div>
    </div>

</section>
<!--//middle-->