@model BlogCreateViewModel

@{
    ViewData["Title"] = "BlogAdd";
    Layout = "~/Views/Shared/_WriterPanelLayout.cshtml";
}

<head>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</head>

<div class="container p-4">
    <div class="bg-light white-card">
        <div class="text-center p-3">
            <h2><i class="fas fa-pencil-alt"></i> Let's Create New Blog</h2>
        </div>
        <form class="p-4" action="/Blog/BlogAdd" method="post" enctype="multipart/form-data">
            <div class="p-3">
                <label for="blogtitle">Blog Title</label>
                <span class="text-danger font-weight-bold ml-2" asp-validation-for="BlogTitle"></span>
                <input id="blogtitle" class="form-control" type="text" asp-for="BlogTitle" value="" />
            </div>
            <div class="p-3">
                <label for="blogimg">Blog Image</label>
                <span class="text-danger font-weight-bold ml-2" asp-validation-for="BlogImage"></span>
                <input id="blogimg" class="form-control" type="file" asp-for="BlogImage" value="" />
            </div>
            <div class="p-3">
                <label for="blogtimg">Thumbnail Image</label>
                <span class="text-danger font-weight-bold ml-2" asp-validation-for="BlogThumbnailImage"></span>
                <input id="blogtimg" class="form-control" type="file" asp-for="BlogThumbnailImage" value="" />
            </div>
            <div class="p-3">
                <label for="blogcategory">Category</label>
                <span class="text-danger font-weight-bold ml-2" asp-validation-for="CategoryID"></span>
                <select class="form-group form-control col-md-12 mt-2" asp-for="CategoryID">
                    @foreach (var item in ViewBag.categories)
                    {
                        <option class="form-control" value="@item.CategoryID">@item.CategoryName</option>
                    }
                </select>
            </div>
            <div class="p-3">
                <label for="blogcontent">Blog Content</label>
                <span class="text-danger font-weight-bold ml-2" asp-validation-for="BlogContent"></span>
                <textarea id="blogcontent" class="form-control" rows="20" asp-for="BlogContent"></textarea>
            </div>
            <div class="text-center p-3">
                <button type="submit" class="custom-button">Publish</button>
            </div>
        </form>
    </div>
</div>

