
@{
    ViewData["Title"] = "MessageBoxPanelPartial";
}

<ul class="nav nav-tabs mail-custom-tab border-bottom-0 mt-4" id="myTab" role="tablist">
    <li class="nav-item">
        <a href="/Message/Inbox" class="nav-link custom-mail-nav-button" id="inbox-tab">
            <span class="d-none d-md-block"><i class="fas fa-inbox"></i> INBOX</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="/Message/SentBox" class="nav-link custom-mail-nav-button" id="sent-tab">
            <span class="d-none d-md-block"><i class="fas fa-paper-plane"></i> SENT</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="/Message/DeleteBox" class="nav-link custom-mail-nav-button" id="delete-tab">
            <span class="d-none d-md-block"><i class="fas fa-trash"></i> DELETED</span>
        </a>
    </li>
</ul>