<aside class="col-lg-4 agileits-w3ls-right-blog-con text-left">
    <div class="right-blog-info text-left">        
        <partial name="~/Views/NewsLetter/SubscribeMail.cshtml"/>

        @await Component.InvokeAsync("CategoryList")

        @await Component.InvokeAsync("LastBlogsOfUser")
    </div>
</aside>