<aside class="col-lg-4 agileits-w3ls-right-blog-con text-left">
    <div class="right-blog-info text-left">

        <partial name="~/Views/NewsLetter/SubscribeMail.cshtml" />

        <div class="single-gd tech-btm text-left">
            <h4>Recent Post</h4>
            @await Component.InvokeAsync("RecentBlog")
        </div>

        <div class="tech-btm widget_social text-left">
            <h4>Stay Connect</h4>
            <ul>

                <li>
                    <a class="twitter" href="#">
                        <i class="fab fa-twitter"></i>
                        <span class="count">317K</span> Twitter Followers
                    </a>
                </li>
                <li>
                    <a class="facebook" href="#">
                        <i class="fab fa-facebook-f"></i>
                        <span class="count">218k</span> Twitter Followers
                    </a>
                </li>
                <li>
                    <a class="dribble" href="#">
                        <i class="fab fa-dribbble"></i>

                        <span class="count">215k</span> Dribble Followers
                    </a>
                </li>
                <li>
                    <a class="pin" href="#">
                        <i class="fab fa-pinterest"></i>
                        <span class="count">190k</span> Pinterest Followers
                    </a>
                </li>

            </ul>
        </div>
    </div>
</aside>
