<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">
                <h3>About US</h3>
                <p>The concept of the text is not a stable one. It is always changing as the technologies for publishing and disseminating texts evolve. In the past, texts were usually presented as printed matter in bound volumes such as pamphlets or books...</p>
                <div class="read">
                    <a href="/About/Index" class="btn btn-primary read-m">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">
                @await Component.InvokeAsync("LastBlogsOfUser")
            </div>
            <!-- subscribe -->
            <div class="col-lg-4 subscribe-main footer-grid-agileits-w3ls text-left">
                <h2>Signup to our newsletter</h2>
                <div class="subscribe-main text-left">
                    <div class="subscribe-form">
                        <form action="#" method="post" class="subscribe_form">
                            <input class="form-control" type="email" id="nws-email" placeholder="Enter your email..." required="">
                            <button type="button" id="btnsubmitfooter" class="btn btn-primary submit">Submit</button>
                        </form>
                        <div class="clearfix"> </div>
                    </div>
                    <p>We respect your privacy.No spam ever!</p>
                </div>
                <!-- //subscribe -->
            </div>
        </div>
        <!-- footer -->
        <div class="footer-cpy text-center">
            <div class="w3layouts-agile-copyrightbottom">
                <p>
                    © @DateTime.Now.Year VMBlog. All Rights Reserved
                </p>

            </div>
        </div>
        <!-- //footer -->
    </div>
</footer>

<script>
    $("#btnsubmitfooter").click(() => {
        $.post("https://localhost:44356/newsletter/SubscribeMail", { a: $("#nws-email").val().toString() });
    });

    $("#btnsubmitfooter").click(() => {
        Swal.fire(
            'You have successfully subscribed!',
            'Now, you will be able to receive instant news from new blogs on our site!',
            'success'
        );
    });
</script>